<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<!-- DESCRIPTION -->
	<meta name="description" content="EduChamp : Education HTML Template" />
	<!-- OG -->
	<meta property="og:title" content="EduChamp : Education HTML Template" />
	<meta property="og:description" content="EduChamp : Education HTML Template" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="{% static '' %}login/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static '' %}login/assets/images/favicon.png" />
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Doctor-Appointment-System </title>
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static '' %}login/css/assets.css">
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static '' %}login/css/typography.css">
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static '' %}login/css/shortcodes/shortcodes.css">
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static '' %}login/css/style.css">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static '' %}login/css/color/color-1.css">
    {% block external_css %}
    {% endblock external_css %}

</head>
<body id="bg">
<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<div class="account-form">
		<div class="account-head" style="background-image:url({% static 'login/images/background/bg1.jpg' %});">
			<a href="/"><img src="{% static '' %}login/images/logo-white-2.png" alt=""></a>
		</div>
        {% block content %}
        {% endblock content %}
	</div>
</div>
<!-- External JavaScripts -->
<script src="{% static '' %}login/js/jquery.min.js"></script>
<script src="{% static '' %}login/vendors/bootstrap/js/popper.min.js"></script>
<script src="{% static '' %}login/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="{% static '' %}login/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="{% static '' %}login/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="{% static '' %}login/vendors/magnific-popup/magnific-popup.js"></script>
<script src="{% static '' %}login/vendors/counter/waypoints-min.js"></script>
<script src="{% static '' %}login/vendors/counter/counterup.min.js"></script>
<script src="{% static '' %}login/vendors/imagesloaded/imagesloaded.js"></script>
<script src="{% static '' %}login/vendors/masonry/masonry.js"></script>
<script src="{% static '' %}login/vendors/masonry/filter.js"></script>
<script src="{% static '' %}login/vendors/owl-carousel/owl.carousel.js"></script>
<script src="{% static '' %}login/js/functions.js"></script>
{% block external_js %}
{% endblock external_js %}
</body>

</html>
