{% extends 'snipets/baselogin.html' %}
{% load static %}

{% block content %}
<div class="account-form-inner">
    <div class="account-container">
        <div class="heading-bx left">
            <h2 class="title-head">Login to your <span>Account</span></h2>
            <p>Don't have an account? <a href="{% url 'signup' %}">Create one here</a></p>
        </div>
        <form class="contact-bx" method="post">
            {% csrf_token %}
            <div class="row placeani">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="input-group">
                            <label>Enter New Password</label>
                            <input name="new_password1" type="password" id="password" class="form-control" required="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="input-group">
                            <label>Re-Enter Password</label>
                            <input name="new_password2" type="password" id="confirm_password" class="form-control" required="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 m-b30">
                    <button name="submit" type="submit" value="Submit" class="btn button-md" style="background-color:#223a66;">Login</button>
                </div>
                <div class="col-lg-12 m-b30">
                    <span style="color: red">{{ form.errors }}</span>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
