{% extends 'snipets/baselogin.html' %}
{% load static %}

{% block content %}
<div class="account-form-inner">
    <div class="account-container">
        <div class="heading-bx left">
            <h2 class="title-head">Email <span>Sent</span></h2>
        </div>
            <div class="row placeani">
                <div class="col-lg-12">
                     <p class="title-head">We’ve emailed you instructions for setting your password, if an account
                         exists with the email you entered. You should receive them shortly.</p>
                    <p class="title-head">
                         If you don’t receive an email, please make sure you’ve entered the address you registered with,
                         and check your spam folder.</p>
                </div>
                <div class="col-lg-12">
                    <span>Login Your Account <a href="{% url 'login' %}">Click here</a></span>
                    <br>
                    <span>or SignUp using Not with Devlap yet? <a href="{% url 'signup' %}">Sign up now.</a></span>
                </div>
            </div>
    </div>
</div>
{% endblock content %}
